html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* Sitcky footer */

.site-main {
  flex-grow: 1;
}


*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 98vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
}

.cardContainer {
  position: relative;
  perspective: 1000px;
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: none;
}

.card {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 400px !important;
  border-radius: 5px;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fddf49;
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px #ffffff8f;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fddf49;
}
.card .front {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.front .item-desc {
  margin-bottom: 0;
}
.card .back {
  transform: rotateY(180deg);
  overflow-y: scroll;
}
.card .info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.front .img {
  background-color: #f3e7bf;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
.front .img {
  background-image: url(http://i3.ytimg.com/vi/jwD04NsnLLg/hqdefault.jpg);
  flex-shrink: 0;
}

.back {
  position: relative;
}

.info-inner {
  flex-grow: 1;
}

.back h3 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #555;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  width: calc(100% - 32px);
  margin: 25px auto 0;
  font-weight: 700;
  font-size: 16px;
  background-color: #FFC324;
  background-image: linear-gradient(-90deg, #abab04, #f0f0b2);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.card .back::-webkit-scrollbar {
  width: 10px;
}

.back .btn:hover .link-text {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn .link-text {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  align-content: stretch;
  gap: 25px;
  margin: 30px 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  gap: 25px;
}

.item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #161515;
  flex-grow: 1;
}

.item-desc {
  font-weight: 500;
  margin-bottom: 10px;
}

.item {
  color: #555;
}

.input-style,
.btn {
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 3px solid #FFC324;
  outline: none;
  transition: all 0.3s ease;
}

.btn {
  background-color: #f0f3bf;
}

.input-style:focus{
  background-color: #f3e7bf;
}

@media only screen and (min-width: 768px) {
  .form {
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
  }

  .input-style {
    padding: 12px;
  }

  .js-input__search {
    order: -2;
  }

  .btn {
    order: -1;
  }
  
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {  
  .form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 0;
  }

  .input-style,
  .btn{
    order: 0;
  }

  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}